<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="22b21e9c-8d69-46e7-b3e9-a89350bfb916" Publisher="CN=Arild" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MetronomeThatWorks</DisplayName>
    <PublisherDisplayName>Arild</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MetronomeThatWorks.App">
      <VisualElements DisplayName="Metronome (That Works)" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="A metronome (that works)" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>